.ezslots {
align-items: center;
}

.ezslots>.window{	
	overflow:hidden;
	display:inline-block; 
}
.ezslots>.window>.slider>.symbol{
	text-align:center;
	display:table;  
}
.ezslots>.window>.slider>.symbol>.content{
      padding:0px;
      margin:0px;
      display:table-cell;
      text-align:center;
      vertical-align:middle;
      font-family:'Zilla Slab', serif;
      font-weight: bold;
}
.grid-nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    width: 100vw;
    align-items: center;
   }

 .logo-container {
    grid-row: 1;
    grid-column: 2/2;
    justify-content: center; 
    margin: auto;
    width: auto;
    padding: 10px;
 }

 .grid-nav2 {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'left center right';
    height: 300px;
    width: 100vw;
    align-items: center;
  
 }
 .slots-container {
     grid-row: 1;
     grid-column: 1;
 }
 
 .header-flex {
    display:none;
    justify-content:space-evenly;
    background-color:#EEEEDE;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    width:100%;
    color: #E75A23;
    font-weight: bold;
    transition: 0.5s;
  }

.slots-container {
    grid-column: 2/2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    
}

.gogogo3{
    grid-column: 2/2;
    grid-row: 2;
    display: flex;
    justify-content: center;

}
    
body {
    background-color: white;
}

.window {
    font-size: 30px;
    font-family: sans-serif, helvetica, sans-serif;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: inherit; }

.results {
    grid-column: 2/2;
    grid-row: 3;
    display: flex;
    justify-content: center;
}
.grid-nav3 {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(90px, 90px) 1fr 1fr;
    grid-template-areas: 'left center right';
    height: 100px;
    width: 100vw;
    align-items:flex-start;
}

.xander {
    font-family:'Zilla Slab', serif;
    font-size: smaller;
    background-color: #F4CB4A;
}
 
.swal-modal {
    margin-top: 250px;
    background-color: white;
    padding-right: 75px;
}

.swal-button { 
    font-family:'Zilla Slab', serif;
    background-color:white;
    color: white;
    border-width: medium;
    border-style:double;
    font-size: xx-large;
    
}

.swal-button--spin {
    font-family:'Zilla Slab', serif;
    background-color: whitesmoke;
    color: black;
    border-width: medium;
    border-style:double;
    font-size: medium;
    margin-right: 75px;
}

.swal-button--reveal {
    font-family:'Zilla Slab', serif;
    background-color: whitesmoke;
    color: black;
    border-width: medium;
    border-style:double;
    font-size: xx-large;
}
.cookie {
    padding: 1px; 
    margin-left: 15px;
    border: 1px solid black;
 
       
    }
.salad {
    padding: 1px; 
    margin-left: 13px;
    border: 1px solid black;
       
    }
 .snacks {
    padding: 1px; 
    margin-left: 15px;
    border: 1px solid black;
           
        }
.chicken {
    padding: 1px; 
    margin-left: 100px;
    border: 1px solid black;
    } 
.healthy {
    padding: 1px; 
    margin-left: 15px;
    border: 1px solid black;
       
    }
.vegetarian{
    padding: 1px; 
    margin-left: 15px;
    border: 1px solid black;
       
    } 
.quickmeals {
    grid-column: 1/1;
    grid-row: 3;
    display: flex;
    justify-content: left;
    padding-left: 100px;
    padding-top: 65px;
    }

.chickentext {
    grid-column: 1/1;
    grid-row: 2;
    display: flex;
    justify-content: left;
    padding-left: 115px;
    padding-top: 15px;
    word-spacing: 56px;
}

 