.ezslots {
align-items: center;
}

.ezslots>.window{	
	overflow:hidden;
	display:inline-block;
  
}
.ezslots>.window>.slider>.symbol{
	text-align:center;
	display:table;
   
  
}
.ezslots>.window>.slider>.symbol>.content{
      padding:0px;
      margin:0px;
      display:table-cell;
      text-align:center;
      vertical-align:middle;
      font-family:Arial, Helvetica, sans-serif;
      font-weight: bold;
    
}
 
.grid-nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    width: 100vw;
    align-items: center;
   }

 .logo-container {
    grid-row: 1;
    grid-column: 2/2;
    justify-content: center; 
    margin: auto;
    width: auto;
    padding: 10px;
 }

 .grid-nav2 {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'left center right';
    height: 300px;
    width: 100vw;
    align-items: center;
  
 }
 .slots-container {
     grid-row: 1;
     grid-column: 1;
 }
 
 .header-flex {
    display:none;
    justify-content:space-evenly;
    background-color:#EEEEDE;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    width:100%;
    color: #E75A23;
    font-weight: bold;
    transition: 0.5s;
  }

.slots-container {
    grid-column: 2/2;
    grid-row: 1;
    display: flex;
    justify-content: center;
}

.gogogo3{
    grid-column: 2/2;
    grid-row: 2;
    display: flex;
    justify-content: center;

}
body {
    background-color: white;
}

.window {
    font-size: 30px;
    font-family: sans-serif, helvetica, sans-serif;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: inherit; }

.results {
    grid-column: 2/2;
    grid-row: 3;
    display: flex;
    justify-content: center;
}